## 2. Chargement et Préparation des Données

### 2.1 Importation des données

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import confusion_matrix, classification_report, roc_curve, roc_auc_score
from sklearn.linear_model import Perceptron, LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

In [5]:
# Charger le dataset
data_employer = pd.read_csv('datasets/data_Projet/HFY_condensed_data.csv',delimiter=';')
df_in_time = pd.read_csv("datasets/data_Projet/in_time.csv")
df_out_time = pd.read_csv("datasets/data_Projet/out_time.csv")
# Afficher les premières lignes du dataset
data_employer.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,Female,1,Healthcare Representative,...,1.0,6,1,0,0,3,3,3.0,4.0,2.0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,Female,1,Research Scientist,...,6.0,3,5,1,4,2,4,3.0,2.0,4.0
2,32,No,Travel_Frequently,Research & Development,17,4,Other,Male,4,Sales Executive,...,5.0,2,5,0,3,3,3,2.0,2.0,1.0
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,Male,3,Human Resources,...,13.0,5,8,7,5,2,3,4.0,4.0,3.0
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,Male,1,Sales Executive,...,9.0,2,6,0,4,3,3,4.0,1.0,3.0

In [6]:
data_employer.head(-1)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,Female,1,Healthcare Representative,...,1.0,6,1,0,0,3,3,3.0,4.0,2.0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,Female,1,Research Scientist,...,6.0,3,5,1,4,2,4,3.0,2.0,4.0
2,32,No,Travel_Frequently,Research & Development,17,4,Other,Male,4,Sales Executive,...,5.0,2,5,0,3,3,3,2.0,2.0,1.0
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,Male,3,Human Resources,...,13.0,5,8,7,5,2,3,4.0,4.0,3.0
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,Male,1,Sales Executive,...,9.0,2,6,0,4,3,3,4.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,No,Travel_Rarely,Sales,4,3,Other,Female,2,Human Resources,...,6.0,2,6,1,5,2,3,3.0,4.0,3.0
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,Female,1,Research Scientist,...,10.0,5,3,0,2,3,3,4.0,1.0,3.0
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,Male,1,Laboratory Technician,...,10.0,2,3,0,2,2,3,4.0,4.0,3.0
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,Male,2,Sales Executive,...,5.0,4,4,1,2,3,4,1.0,3.0,3.0
4408,42,No,Travel_Rarely,Sales,18,2,Medical,Male,1,Laboratory Technician,...,10.0,2,9,7,8,2,3,4.0,1.0,3.0

In [7]:
# Display basic information
data_employer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   Gender                   4410 non-null   object
 8   JobLevel                 4410 non-null   int64
 9   JobRole                  4410 non-null   object
 10  MaritalStatus            4410 non-null   object
 11  MonthlyIncome            4410 non-null   int64
 12  NumCompaniesWorked       4391 non-null   float64
 13  PercentSalaryHike        4410 non-null   int64
 14  TotalWorkingYears        4401 non-null   float64
 15  TrainingTimesLastYear    4410 non-null   int64
 16  YearsAtCompany           4410 non-null   int64
 17  YearsSinceLastPromotion  4410 non-null   int64
 18  YearsWithCurrManager     4410 non-null   int64
 19  JobInvolvement           4410 non-null   int64
 20  PerformanceRating        4410 non-null   int64
 21  EnvironmentSatisfaction  4385 non-null   float64
 22  JobSatisfaction          4390 non-null   float64
 23  WorkLifeBalance          4372 non-null   float64
dtypes: float64(5), int64(12), object(7)
memory usage: 827.0+ KB

## Remplissage des valeurs manquantes

In [8]:
data_employer.isna().sum(axis = 0)

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
PercentSalaryHike           0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
JobInvolvement              0
PerformanceRating           0
EnvironmentSatisfaction    25
JobSatisfaction            20
WorkLifeBalance            38
dtype: int64

### Encodage des variables catégorielles

In [10]:
label_enc_cols = ["Attrition","BusinessTravel", "Department", "EducationField", "Gender", "JobRole",  "MaritalStatus"]
for col in label_enc_cols:
    data_employer[col] = LabelEncoder().fit_transform(data_employer[col])

In [11]:
data_employer.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance
0,51,0,2,2,6,2,1,0,1,0,...,1.0,6,1,0,0,3,3,3.0,4.0,2.0
1,31,1,1,1,10,1,1,0,1,6,...,6.0,3,5,1,4,2,4,3.0,2.0,4.0
2,32,0,1,1,17,4,4,1,4,7,...,5.0,2,5,0,3,3,3,2.0,2.0,1.0
3,38,0,0,1,2,5,1,1,3,1,...,13.0,5,8,7,5,2,3,4.0,4.0,3.0
4,32,0,2,1,10,1,3,1,1,7,...,9.0,2,6,0,4,3,3,4.0,1.0,3.0

## Préparation des Données
### Gestion des valeurs manquantes

In [12]:
# Imputer les valeurs manquantes pour les variables numériques avec la médiane
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="median")

# Sélection des colonnes numériques

housing_num = data_employer.select_dtypes(include=[np.number])
imputer.fit(housing_num)


# Remplacement des valeurs manquantes
housing_num_imputed = pd.DataFrame(imputer.transform(housing_num), columns=housing_num.columns)

# Vérifier s'il reste des valeurs manquantes
housing_num_imputed.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
PercentSalaryHike          0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
JobInvolvement             0
PerformanceRating          0
EnvironmentSatisfaction    0
JobSatisfaction            0
WorkLifeBalance            0
dtype: int64

In [13]:
# Display summary statistics
data_employer.describe()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance
count,4410.000000,4410.000000,4410.000000,4410.000000,4410.000000,4410.000000,4410.000000,4410.000000,4410.000000,4410.000000,...,4401.000000,4410.000000,4410.000000,4410.000000,4410.000000,4410.000000,4410.000000,4385.000000,4390.000000,4372.000000
mean,36.923810,0.161224,1.607483,1.260544,9.192517,2.912925,2.247619,0.600000,2.063946,4.458503,...,11.279936,2.799320,7.008163,2.187755,4.123129,2.729932,3.153741,2.723603,2.728246,2.761436
std,9.133301,0.367780,0.665304,0.527673,8.105026,1.023933,1.331067,0.489954,1.106689,2.461263,...,7.782222,1.288978,6.125135,3.221699,3.567327,0.711400,0.360742,1.092756,1.101253,0.706245
min,18.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,1.000000,1.000000,1.000000
25%,30.000000,0.000000,1.000000,1.000000,2.000000,2.000000,1.000000,0.000000,1.000000,2.000000,...,6.000000,2.000000,3.000000,0.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000
50%,36.000000,0.000000,2.000000,1.000000,7.000000,3.000000,2.000000,1.000000,2.000000,5.000000,...,10.000000,3.000000,5.000000,1.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
75%,43.000000,0.000000,2.000000,2.000000,14.000000,4.000000,3.000000,1.000000,3.000000,7.000000,...,15.000000,3.000000,9.000000,3.000000,7.000000,3.000000,3.000000,4.000000,4.000000,3.000000
max,60.000000,1.000000,2.000000,2.000000,29.000000,5.000000,5.000000,1.000000,5.000000,8.000000,...,40.000000,6.000000,40.000000,15.000000,17.000000,4.000000,4.000000,4.000000,4.000000,4.000000

In [14]:
for e in label_enc_cols:
    data_employer[e].value_counts()
#data_employer["Attrition"].value_counts()
#data_employer["BusinessTravel"].value_counts()
#data_employer["Department"].value_counts()
#data_employer["EducationField"].value_counts()
#data_employer["Gender"].value_counts()
data_employer["JobRole"].value_counts()
#data_employer["MaritalStatus"].value_counts()#SOLUTION

JobRole
7    978
6    876
2    777
4    435
0    393
3    306
8    249
5    240
1    156
Name: count, dtype: int64

In [15]:
df_in_time.head(-1)

,EmployeeID,2015-01-01,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,...,2015-12-18,2015-12-21,2015-12-22,2015-12-23,2015-12-24,2015-12-25,2015-12-28,2015-12-29,2015-12-30,2015-12-31
0,1,NaN,2015-01-02 09:43:45,2015-01-05 10:08:48,2015-01-06 09:54:26,2015-01-07 09:34:31,2015-01-08 09:51:09,2015-01-09 10:09:25,2015-01-12 09:42:53,2015-01-13 10:13:06,...,NaN,2015-12-21 09:55:29,2015-12-22 10:04:06,2015-12-23 10:14:27,2015-12-24 10:11:35,NaN,2015-12-28 10:13:41,2015-12-29 10:03:36,2015-12-30 09:54:12,2015-12-31 10:12:44
1,2,NaN,2015-01-02 10:15:44,2015-01-05 10:21:05,NaN,2015-01-07 09:45:17,2015-01-08 10:09:04,2015-01-09 09:43:26,2015-01-12 10:00:07,2015-01-13 10:43:29,...,2015-12-18 10:37:17,2015-12-21 09:49:02,2015-12-22 10:33:51,2015-12-23 10:12:10,NaN,NaN,2015-12-28 09:31:45,2015-12-29 09:55:49,2015-12-30 10:32:25,2015-12-31 09:27:20
2,3,NaN,2015-01-02 10:17:41,2015-01-05 09:50:50,2015-01-06 10:14:13,2015-01-07 09:47:27,2015-01-08 10:03:40,2015-01-09 10:05:49,2015-01-12 10:03:47,2015-01-13 10:21:26,...,2015-12-18 10:15:14,2015-12-21 10:10:28,2015-12-22 09:44:44,2015-12-23 10:15:54,2015-12-24 10:07:26,NaN,2015-12-28 09:42:05,2015-12-29 09:43:36,2015-12-30 09:34:05,2015-12-31 10:28:39
3,4,NaN,2015-01-02 10:05:06,2015-01-05 09:56:32,2015-01-06 10:11:07,2015-01-07 09:37:30,2015-01-08 10:02:08,2015-01-09 10:08:12,2015-01-12 10:13:42,2015-01-13 09:53:22,...,2015-12-18 10:17:38,2015-12-21 09:58:21,2015-12-22 10:04:25,2015-12-23 10:11:46,2015-12-24 09:43:15,NaN,2015-12-28 09:52:44,2015-12-29 09:33:16,2015-12-30 10:18:12,2015-12-31 10:01:15
4,5,NaN,2015-01-02 10:28:17,2015-01-05 09:49:58,2015-01-06 09:45:28,2015-01-07 09:49:37,2015-01-08 10:19:44,2015-01-09 10:00:50,2015-01-12 10:29:27,2015-01-13 09:59:32,...,2015-12-18 09:58:35,2015-12-21 10:03:41,2015-12-22 10:10:30,2015-12-23 10:13:36,2015-12-24 09:44:24,NaN,2015-12-28 10:05:15,2015-12-29 10:30:53,2015-12-30 09:18:21,2015-12-31 09:41:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,4405,NaN,2015-01-02 10:18:28,2015-01-05 09:42:42,2015-01-06 10:08:36,2015-01-07 09:43:44,2015-01-08 10:01:57,2015-01-09 10:09:09,2015-01-12 09:52:17,2015-01-13 09:47:41,...,2015-12-18 09:48:29,2015-12-21 10:12:51,2015-12-22 10:15:09,2015-12-23 10:05:50,2015-12-24 10:30:00,NaN,2015-12-28 10:07:07,2015-12-29 09:57:23,2015-12-30 09:23:37,2015-12-31 09:50:05
4405,4406,NaN,2015-01-02 09:20:32,2015-01-05 10:17:53,2015-01-06 10:26:51,2015-01-07 10:06:58,2015-01-08 09:45:06,2015-01-09 09:49:24,2015-01-12 09:37:10,2015-01-13 09:25:02,...,2015-12-18 10:01:06,2015-12-21 10:25:25,2015-12-22 10:16:11,2015-12-23 10:04:40,2015-12-24 09:45:40,NaN,2015-12-28 10:15:39,2015-12-29 10:10:09,2015-12-30 09:28:19,2015-12-31 10:00:12
4406,4407,NaN,2015-01-02 10:03:41,NaN,2015-01-06 09:44:00,2015-01-07 09:42:10,2015-01-08 10:00:57,2015-01-09 09:44:04,2015-01-12 10:07:32,2015-01-13 10:05:11,...,2015-12-18 09:27:32,2015-12-21 09:41:24,2015-12-22 09:50:30,2015-12-23 10:32:21,2015-12-24 09:47:41,NaN,2015-12-28 09:54:23,2015-12-29 10:13:32,2015-12-30 10:21:09,2015-12-31 10:09:48
4407,4408,NaN,2015-01-02 10:01:01,2015-01-05 09:33:00,2015-01-06 09:49:17,2015-01-07 10:28:12,2015-01-08 09:47:38,2015-01-09 10:01:03,2015-01-12 09:49:12,2015-01-13 09:47:10,...,2015-12-18 10:00:57,2015-12-21 09:51:07,2015-12-22 10:02:10,2015-12-23 09:58:29,2015-12-24 09:56:05,NaN,2015-12-28 09:59:24,NaN,2015-12-30 10:02:36,2015-12-31 10:03:30
4408,4409,NaN,2015-01-02 10:17:05,2015-01-05 10:02:27,2015-01-06 10:12:50,2015-01-07 10:12:31,2015-01-08 09:42:57,NaN,2015-01-12 10:00:38,2015-01-13 09:48:03,...,2015-12-18 09:54:33,2015-12-21 10:01:08,2015-12-22 10:10:19,2015-12-23 09:42:30,2015-12-24 09:56:05,NaN,2015-12-28 09:55:25,2015-12-29 09:54:42,2015-12-30 10:15:44,2015-12-31 09:56:47

In [17]:
df_in_time.describe()

,EmployeeID,2015-01-01,2015-01-14,2015-01-26,2015-03-05,2015-05-01,2015-07-17,2015-09-17,2015-10-02,2015-11-09,2015-11-10,2015-11-11,2015-12-25
count,4410.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2205.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1273.201673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1103.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2205.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3307.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,4410.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_in_time.info

<bound method DataFrame.info of       EmployeeID  2015-01-01           2015-01-02           2015-01-05  \
0              1         NaN  2015-01-02 09:43:45  2015-01-05 10:08:48
1              2         NaN  2015-01-02 10:15:44  2015-01-05 10:21:05
2              3         NaN  2015-01-02 10:17:41  2015-01-05 09:50:50
3              4         NaN  2015-01-02 10:05:06  2015-01-05 09:56:32
4              5         NaN  2015-01-02 10:28:17  2015-01-05 09:49:58
...          ...         ...                  ...                  ...
4405        4406         NaN  2015-01-02 09:20:32  2015-01-05 10:17:53
4406        4407         NaN  2015-01-02 10:03:41                  NaN
4407        4408         NaN  2015-01-02 10:01:01  2015-01-05 09:33:00
4408        4409         NaN  2015-01-02 10:17:05  2015-01-05 10:02:27
4409        4410         NaN  2015-01-02 09:59:09  2015-01-05 10:16:14

               2015-01-06           2015-01-07           2015-01-08  \
0     2015-01-06 09:54:26  2015-01-07 09:34:31  2015-01-08 09:51:09
1                     NaN  2015-01-07 09:45:17  2015-01-08 10:09:04
2     2015-01-06 10:14:13  2015-01-07 09:47:27  2015-01-08 10:03:40
3     2015-01-06 10:11:07  2015-01-07 09:37:30  2015-01-08 10:02:08
4     2015-01-06 09:45:28  2015-01-07 09:49:37  2015-01-08 10:19:44
...                   ...                  ...                  ...
4405  2015-01-06 10:26:51  2015-01-07 10:06:58  2015-01-08 09:45:06
4406  2015-01-06 09:44:00  2015-01-07 09:42:10  2015-01-08 10:00:57
4407  2015-01-06 09:49:17  2015-01-07 10:28:12  2015-01-08 09:47:38
4408  2015-01-06 10:12:50  2015-01-07 10:12:31  2015-01-08 09:42:57
4409  2015-01-06 09:52:30  2015-01-07 09:43:15  2015-01-08 10:06:55

               2015-01-09           2015-01-12           2015-01-13  ...  \
0     2015-01-09 10:09:25  2015-01-12 09:42:53  2015-01-13 10:13:06  ...
1     2015-01-09 09:43:26  2015-01-12 10:00:07  2015-01-13 10:43:29  ...
2     2015-01-09 10:05:49  2015-01-12 10:03:47  2015-01-13 10:21:26  ...
3     2015-01-09 10:08:12  2015-01-12 10:13:42  2015-01-13 09:53:22  ...
4     2015-01-09 10:00:50  2015-01-12 10:29:27  2015-01-13 09:59:32  ...
...                   ...                  ...                  ...  ...
4405  2015-01-09 09:49:24  2015-01-12 09:37:10  2015-01-13 09:25:02  ...
4406  2015-01-09 09:44:04  2015-01-12 10:07:32  2015-01-13 10:05:11  ...
4407  2015-01-09 10:01:03  2015-01-12 09:49:12  2015-01-13 09:47:10  ...
4408                  NaN  2015-01-12 10:00:38  2015-01-13 09:48:03  ...
4409  2015-01-09 10:27:39  2015-01-12 09:47:35  2015-01-13 09:30:00  ...

               2015-12-18           2015-12-21           2015-12-22  \
0                     NaN  2015-12-21 09:55:29  2015-12-22 10:04:06
1     2015-12-18 10:37:17  2015-12-21 09:49:02  2015-12-22 10:33:51
2     2015-12-18 10:15:14  2015-12-21 10:10:28  2015-12-22 09:44:44
3     2015-12-18 10:17:38  2015-12-21 09:58:21  2015-12-22 10:04:25
4     2015-12-18 09:58:35  2015-12-21 10:03:41  2015-12-22 10:10:30
...                   ...                  ...                  ...
4405  2015-12-18 10:01:06  2015-12-21 10:25:25  2015-12-22 10:16:11
4406  2015-12-18 09:27:32  2015-12-21 09:41:24  2015-12-22 09:50:30
4407  2015-12-18 10:00:57  2015-12-21 09:51:07  2015-12-22 10:02:10
4408  2015-12-18 09:54:33  2015-12-21 10:01:08  2015-12-22 10:10:19
4409  2015-12-18 10:20:40  2015-12-21 10:26:02                  NaN

               2015-12-23           2015-12-24 2015-12-25  \
0     2015-12-23 10:14:27  2015-12-24 10:11:35        NaN
1     2015-12-23 10:12:10                  NaN        NaN
2     2015-12-23 10:15:54  2015-12-24 10:07:26        NaN
3     2015-12-23 10:11:46  2015-12-24 09:43:15        NaN
4     2015-12-23 10:13:36  2015-12-24 09:44:24        NaN
...                   ...                  ...        ...
4405  2015-12-23 10:04:40  2015-12-24 09:45:40        NaN
4406  2015-12-23 10:32:21  2015-12-24 09:47:41        NaN
4407  2015-12-23 09:58:29  2015-12-24 09:56:05        NaN
4408  2015-12-23 09:42:30  2015-12-24 09:56:05        NaN
4409  2015-12-23 09:53:19  2015-12-24 09:42:13        NaN

               2015-12-28           2015-12-29           2015-12-30  \
0     2015-12-28 10:13:41  2015-12-29 10:03:36  2015-12-30 09:54:12
1     2015-12-28 09:31:45  2015-12-29 09:55:49  2015-12-30 10:32:25
2     2015-12-28 09:42:05  2015-12-29 09:43:36  2015-12-30 09:34:05
3     2015-12-28 09:52:44  2015-12-29 09:33:16  2015-12-30 10:18:12
4     2015-12-28 10:05:15  2015-12-29 10:30:53  2015-12-30 09:18:21
...                   ...                  ...                  ...
4405  2015-12-28 10:15:39  2015-12-29 10:10:09  2015-12-30 09:28:19
4406  2015-12-28 09:54:23  2015-12-29 10:13:32  2015-12-30 10:21:09
4407  2015-12-28 09:59:24                  NaN  2015-12-30 10:02:36
4408  2015-12-28 09:55:25  2015-12-29 09:54:42  2015-12-30 10:15:44
4409  2015-12-28 09:41:11  2015-12-29 10:05:15  2015-12-30 10:32:49

               2015-12-31
0     2015-12-31 10:12:44
1     2015-12-31 09:27:20
2     2015-12-31 10:28:39
3     2015-12-31 10:01:15
4     2015-12-31 09:41:09
...                   ...
4405  2015-12-31 10:00:12
4406  2015-12-31 10:09:48
4407  2015-12-31 10:03:30
4408  2015-12-31 09:56:47
4409  2015-12-31 10:09:28

[4410 rows x 262 columns]>

In [35]:
df_in_time = df_in_time.apply(pd.to_datetime, errors='coerce')
df_out_time = df_out_time.apply(pd.to_datetime, errors='coerce')
df_in_time_cleaned = df_in_time.dropna(axis=1, how='all')
df_in_time_cleaned.head()

,EmployeeID,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,2015-01-15,...,2015-12-17,2015-12-18,2015-12-21,2015-12-22,2015-12-23,2015-12-24,2015-12-28,2015-12-29,2015-12-30,2015-12-31
0,1970-01-01 00:00:00.000000001,2015-01-02 09:43:45,2015-01-05 10:08:48,2015-01-06 09:54:26,2015-01-07 09:34:31,2015-01-08 09:51:09,2015-01-09 10:09:25,2015-01-12 09:42:53,2015-01-13 10:13:06,2015-01-15 10:01:24,...,NaT,NaT,2015-12-21 09:55:29,2015-12-22 10:04:06,2015-12-23 10:14:27,2015-12-24 10:11:35,2015-12-28 10:13:41,2015-12-29 10:03:36,2015-12-30 09:54:12,2015-12-31 10:12:44
1,1970-01-01 00:00:00.000000002,2015-01-02 10:15:44,2015-01-05 10:21:05,NaT,2015-01-07 09:45:17,2015-01-08 10:09:04,2015-01-09 09:43:26,2015-01-12 10:00:07,2015-01-13 10:43:29,2015-01-15 09:37:57,...,2015-12-17 09:15:08,2015-12-18 10:37:17,2015-12-21 09:49:02,2015-12-22 10:33:51,2015-12-23 10:12:10,NaT,2015-12-28 09:31:45,2015-12-29 09:55:49,2015-12-30 10:32:25,2015-12-31 09:27:20
2,1970-01-01 00:00:00.000000003,2015-01-02 10:17:41,2015-01-05 09:50:50,2015-01-06 10:14:13,2015-01-07 09:47:27,2015-01-08 10:03:40,2015-01-09 10:05:49,2015-01-12 10:03:47,2015-01-13 10:21:26,2015-01-15 09:55:11,...,2015-12-17 09:53:17,2015-12-18 10:15:14,2015-12-21 10:10:28,2015-12-22 09:44:44,2015-12-23 10:15:54,2015-12-24 10:07:26,2015-12-28 09:42:05,2015-12-29 09:43:36,2015-12-30 09:34:05,2015-12-31 10:28:39
3,1970-01-01 00:00:00.000000004,2015-01-02 10:05:06,2015-01-05 09:56:32,2015-01-06 10:11:07,2015-01-07 09:37:30,2015-01-08 10:02:08,2015-01-09 10:08:12,2015-01-12 10:13:42,2015-01-13 09:53:22,2015-01-15 10:00:50,...,2015-12-17 09:54:36,2015-12-18 10:17:38,2015-12-21 09:58:21,2015-12-22 10:04:25,2015-12-23 10:11:46,2015-12-24 09:43:15,2015-12-28 09:52:44,2015-12-29 09:33:16,2015-12-30 10:18:12,2015-12-31 10:01:15
4,1970-01-01 00:00:00.000000005,2015-01-02 10:28:17,2015-01-05 09:49:58,2015-01-06 09:45:28,2015-01-07 09:49:37,2015-01-08 10:19:44,2015-01-09 10:00:50,2015-01-12 10:29:27,2015-01-13 09:59:32,2015-01-15 10:06:12,...,2015-12-17 09:46:35,2015-12-18 09:58:35,2015-12-21 10:03:41,2015-12-22 10:10:30,2015-12-23 10:13:36,2015-12-24 09:44:24,2015-12-28 10:05:15,2015-12-29 10:30:53,2015-12-30 09:18:21,2015-12-31 09:41:09

In [16]:
df_in_time_cleaned.describe()

NameError: name 'df_in_time_cleaned' is not defined

In [24]:
# Convertir en datetime (pour s'assurer que les valeurs sont bien reconnues comme des dates)
df_in_time = df_in_time.apply(pd.to_datetime, errors='coerce')
df_out_time = df_out_time.apply(pd.to_datetime, errors='coerce')

# Supprimer les jours où tout le monde est absent
df_in_time_cleaned = df_in_time.dropna(axis=1, how='all')
df_out_time_cleaned = df_out_time.dropna(axis=1, how='all')

# Vérifier combien de jours restent
print(f"Nombre de jours restants après nettoyage : {df_in_time_cleaned.shape[1] - 1}")

Nombre de jours restants après nettoyage : 249

In [38]:
# Renommer la première colonne en "EmployeeID"
df_in_time.rename(columns={df_in_time.columns[0]: "EmployeeID"}, inplace=True)
# Vérifier à nouveau les colonnes
print(df_in_time.head())

                     EmployeeID 2015-01-01          2015-01-02  \
0 1970-01-01 00:00:00.000000001        NaT 2015-01-02 09:43:45
1 1970-01-01 00:00:00.000000002        NaT 2015-01-02 10:15:44
2 1970-01-01 00:00:00.000000003        NaT 2015-01-02 10:17:41
3 1970-01-01 00:00:00.000000004        NaT 2015-01-02 10:05:06
4 1970-01-01 00:00:00.000000005        NaT 2015-01-02 10:28:17

           2015-01-05          2015-01-06          2015-01-07  \
0 2015-01-05 10:08:48 2015-01-06 09:54:26 2015-01-07 09:34:31
1 2015-01-05 10:21:05                 NaT 2015-01-07 09:45:17
2 2015-01-05 09:50:50 2015-01-06 10:14:13 2015-01-07 09:47:27
3 2015-01-05 09:56:32 2015-01-06 10:11:07 2015-01-07 09:37:30
4 2015-01-05 09:49:58 2015-01-06 09:45:28 2015-01-07 09:49:37

           2015-01-08          2015-01-09          2015-01-12  \
0 2015-01-08 09:51:09 2015-01-09 10:09:25 2015-01-12 09:42:53
1 2015-01-08 10:09:04 2015-01-09 09:43:26 2015-01-12 10:00:07
2 2015-01-08 10:03:40 2015-01-09 10:05:49 2015-01-12 10:03:47
3 2015-01-08 10:02:08 2015-01-09 10:08:12 2015-01-12 10:13:42
4 2015-01-08 10:19:44 2015-01-09 10:00:50 2015-01-12 10:29:27

           2015-01-13  ...          2015-12-18          2015-12-21  \
0 2015-01-13 10:13:06  ...                 NaT 2015-12-21 09:55:29
1 2015-01-13 10:43:29  ... 2015-12-18 10:37:17 2015-12-21 09:49:02
2 2015-01-13 10:21:26  ... 2015-12-18 10:15:14 2015-12-21 10:10:28
3 2015-01-13 09:53:22  ... 2015-12-18 10:17:38 2015-12-21 09:58:21
4 2015-01-13 09:59:32  ... 2015-12-18 09:58:35 2015-12-21 10:03:41

           2015-12-22          2015-12-23          2015-12-24 2015-12-25  \
0 2015-12-22 10:04:06 2015-12-23 10:14:27 2015-12-24 10:11:35        NaT
1 2015-12-22 10:33:51 2015-12-23 10:12:10                 NaT        NaT
2 2015-12-22 09:44:44 2015-12-23 10:15:54 2015-12-24 10:07:26        NaT
3 2015-12-22 10:04:25 2015-12-23 10:11:46 2015-12-24 09:43:15        NaT
4 2015-12-22 10:10:30 2015-12-23 10:13:36 2015-12-24 09:44:24        NaT

           2015-12-28          2015-12-29          2015-12-30  \
0 2015-12-28 10:13:41 2015-12-29 10:03:36 2015-12-30 09:54:12
1 2015-12-28 09:31:45 2015-12-29 09:55:49 2015-12-30 10:32:25
2 2015-12-28 09:42:05 2015-12-29 09:43:36 2015-12-30 09:34:05
3 2015-12-28 09:52:44 2015-12-29 09:33:16 2015-12-30 10:18:12
4 2015-12-28 10:05:15 2015-12-29 10:30:53 2015-12-30 09:18:21

           2015-12-31
0 2015-12-31 10:12:44
1 2015-12-31 09:27:20
2 2015-12-31 10:28:39
3 2015-12-31 10:01:15
4 2015-12-31 09:41:09

[5 rows x 262 columns]

In [44]:
df_in_time.head()

,EmployeeID,2015-01-01,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,...,2015-12-18,2015-12-21,2015-12-22,2015-12-23,2015-12-24,2015-12-25,2015-12-28,2015-12-29,2015-12-30,2015-12-31
0,1970-01-01 00:00:00.000000001,NaT,2015-01-02 09:43:45,2015-01-05 10:08:48,2015-01-06 09:54:26,2015-01-07 09:34:31,2015-01-08 09:51:09,2015-01-09 10:09:25,2015-01-12 09:42:53,2015-01-13 10:13:06,...,NaT,2015-12-21 09:55:29,2015-12-22 10:04:06,2015-12-23 10:14:27,2015-12-24 10:11:35,NaT,2015-12-28 10:13:41,2015-12-29 10:03:36,2015-12-30 09:54:12,2015-12-31 10:12:44
1,1970-01-01 00:00:00.000000002,NaT,2015-01-02 10:15:44,2015-01-05 10:21:05,NaT,2015-01-07 09:45:17,2015-01-08 10:09:04,2015-01-09 09:43:26,2015-01-12 10:00:07,2015-01-13 10:43:29,...,2015-12-18 10:37:17,2015-12-21 09:49:02,2015-12-22 10:33:51,2015-12-23 10:12:10,NaT,NaT,2015-12-28 09:31:45,2015-12-29 09:55:49,2015-12-30 10:32:25,2015-12-31 09:27:20
2,1970-01-01 00:00:00.000000003,NaT,2015-01-02 10:17:41,2015-01-05 09:50:50,2015-01-06 10:14:13,2015-01-07 09:47:27,2015-01-08 10:03:40,2015-01-09 10:05:49,2015-01-12 10:03:47,2015-01-13 10:21:26,...,2015-12-18 10:15:14,2015-12-21 10:10:28,2015-12-22 09:44:44,2015-12-23 10:15:54,2015-12-24 10:07:26,NaT,2015-12-28 09:42:05,2015-12-29 09:43:36,2015-12-30 09:34:05,2015-12-31 10:28:39
3,1970-01-01 00:00:00.000000004,NaT,2015-01-02 10:05:06,2015-01-05 09:56:32,2015-01-06 10:11:07,2015-01-07 09:37:30,2015-01-08 10:02:08,2015-01-09 10:08:12,2015-01-12 10:13:42,2015-01-13 09:53:22,...,2015-12-18 10:17:38,2015-12-21 09:58:21,2015-12-22 10:04:25,2015-12-23 10:11:46,2015-12-24 09:43:15,NaT,2015-12-28 09:52:44,2015-12-29 09:33:16,2015-12-30 10:18:12,2015-12-31 10:01:15
4,1970-01-01 00:00:00.000000005,NaT,2015-01-02 10:28:17,2015-01-05 09:49:58,2015-01-06 09:45:28,2015-01-07 09:49:37,2015-01-08 10:19:44,2015-01-09 10:00:50,2015-01-12 10:29:27,2015-01-13 09:59:32,...,2015-12-18 09:58:35,2015-12-21 10:03:41,2015-12-22 10:10:30,2015-12-23 10:13:36,2015-12-24 09:44:24,NaT,2015-12-28 10:05:15,2015-12-29 10:30:53,2015-12-30 09:18:21,2015-12-31 09:41:09

In [36]:
# Créer un DataFrame pour stocker les résultats
df_work_hours_seconde = pd.DataFrame(index=df_in_time.index, columns=df_in_time.columns)

for day in df_in_time.columns[1:]:  # On ignore la première colonne qui est "EmployeeID"
    for employee_id in df_in_time.index:
        arrival_time = df_in_time.loc[employee_id, day]
        departure_time = df_out_time.loc[employee_id, day]

        # Vérifier si les valeurs ne sont pas NaN
        if pd.notna(arrival_time) and pd.notna(departure_time):
            # Calculer la durée en heures
            work_duration = (departure_time - arrival_time).total_seconds() / 3600
        else:
            work_duration = None  # Laisser vide si absent

        # Stocker le résultat
        df_work_hours_seconde.loc[employee_id, day] = work_duration

# Sauvegarder dans un fichier CSV
df_work_hours_seconde.to_csv("work_hours_seconde.csv")

In [37]:
df_work_hours_seconde.head(-1)

,EmployeeID,2015-01-01,2015-01-02,2015-01-05,2015-01-06,2015-01-07,2015-01-08,2015-01-09,2015-01-12,2015-01-13,...,2015-12-18,2015-12-21,2015-12-22,2015-12-23,2015-12-24,2015-12-25,2015-12-28,2015-12-29,2015-12-30,2015-12-31
0,NaN,None,7.208333,7.189722,7.410833,7.006667,7.289722,7.484444,7.262778,7.831111,...,None,7.339167,7.395833,6.504722,7.596389,None,7.773889,7.315,7.778889,7.080278
1,NaN,None,8.109167,7.454722,None,7.396944,7.416667,7.150833,7.611389,7.278889,...,7.903056,7.753889,7.712222,7.435556,None,None,7.614722,7.9825,7.986111,8.227222
2,NaN,None,6.6925,7.265556,6.405278,6.765,7.345,6.861389,7.418611,6.999722,...,6.785833,7.163611,6.801667,6.730278,6.849722,None,7.023889,7.438889,7.538889,6.786389
3,NaN,None,7.338333,7.291944,6.943056,6.919444,6.850833,7.193056,6.998611,7.306389,...,7.629167,6.846667,7.326389,7.413611,7.085,None,7.447222,7.416667,7.366389,7.133056
4,NaN,None,8.055556,7.988056,7.6825,7.806111,7.662222,7.721667,8.365,8.257222,...,7.903611,7.665,7.9575,7.786944,8.249444,None,7.662222,8.268611,7.953333,8.018056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,NaN,None,6.841111,7.602778,7.44,7.013611,8.088889,7.122222,7.806944,7.890833,...,7.006667,7.219444,7.530278,7.209722,7.573333,None,6.826111,7.519444,7.475556,7.351389
4405,NaN,None,8.118056,8.840833,8.399444,8.845,8.223611,8.280833,8.360556,8.759167,...,8.083056,8.161389,8.2925,8.604444,8.596944,None,8.482222,9.074722,8.943611,8.508056
4406,NaN,None,6.255556,None,5.393611,5.727778,6.193333,5.714444,6.052778,6.292222,...,5.925,5.830556,5.924722,6.110556,5.992778,None,5.669722,6.558333,5.702222,6.1475
4407,NaN,None,7.276111,7.585278,7.641389,7.986111,7.296389,7.031667,7.775833,7.478333,...,7.785556,7.866111,7.753611,7.752222,7.401944,None,7.734444,None,7.760556,8.090278
4408,NaN,None,9.525556,9.586944,9.788333,9.391111,9.204444,None,9.294167,9.599722,...,9.969722,9.340833,9.3725,9.241667,9.697778,None,10.053056,9.012222,9.360556,9.616111